html, body, main {
  width: 100%;
  height: 100%;
}

main {
  @include flex-display(flex);
  @include flex-align-items(stretch);
  @include flex-align-content(stretch);

  > .content {
    @include flex(1);

    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
